@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Regular.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 400;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Italic.ttf') format('truetype');
    font-style: italic;
    font-display: swap;
    font-weight: 400;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 700;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-display: swap;
    font-weight: 700;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 900;
  }

  @font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-style: italic;
    font-display: swap;
    font-weight: 900;
  }

  body {
    font-family: 'Poppins', sans-serif;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}
